<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Form</title>
</head>
<body>
<h2 th:text="${task.id == 0 ? 'Add New Task' : 'Edit Task'}"></h2>

<form th:action="@{${task.id == 0 ? '/admin/task' : '/admin/task/update'}}"
      th:object="${task}" method="post">
    <input type="hidden" id="id" th:field="*{id}" required/>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" required/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" required></textarea>
    </div>
    <div>
        <label for="priority">Priority:</label>
        <input type="number" id="priority" th:field="*{priority}" min="1" max="5" required/>
    </div>
    <div>
        <label for="userId">User ID:</label>
        <input type="number" id="userId" name="userId" th:value="${task.user != null ? task.user.id : ''}" required/>
    </div>
    <button type="submit" th:text="${task.id == 0 ? 'Add' : 'Update'}"></button>
</form>
</body>
</html>
